img {
  width: 80px;
  border-radius: 40px;
  float: left;
  margin-right: 10px;
}

.username {
  font-weight: bold;
}

body {
    background-color: #414141;
    color: white;
}

strong {
    color: red;
}