.uber {
    color: white;
    background-color: black;
    border: none;
    width: 130px;
    height: 32px;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    align-items: center;
    cursor: pointer;
}

.amazon {
    color: black;
    background-color: rgb(255, 216, 20);
    border: none;
    width: 180px;
    height: 32px;
    border-radius: 25px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 400;
    align-items: center;
    cursor: pointer;
}

.github {
    color: white;
    background-color: rgb(46, 164, 79);
    border: none;
    width: 100px;
    height: 32px;
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
}

.bootstrap-get {
    color: white;
    background-color: rgb(121, 82, 179);
    border: none;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
}

.bootstrap-download {
    color: black;
    background-color: rgb(108, 117, 125);
    border: 1;
    border-color: black;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
}

.linkedln-apply {
    color: white;
    background-color: rgb(31, 44, 235);
    border: 1;
    border-color: black;
    width: 230px;
    height: 38px;
    border-radius: 25px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
}

.linkedln-save {
    color: rgb(31, 44, 235);
    background-color: white;
    border: 1;
    border-color: rgb(31, 44, 235);
    width: 80px;
    height: 38px;
    border-radius: 25px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
}
